p{
  font-family: Roboto;
  margin-top: 0;
}
.video-title{
  font-size: 18px;
  font-weight: bold;
  width: 300px;
  line-height: 24px;
  text-align: left;
  margin-bottom: 0;
}
.video-stats{
  font-size: 14px;
  color: rgb(96,96,96);
  margin-bottom: 20px;
  text-align: left;
}
.video-author{
  font-size: 14px;
  color: rgb(96,96,96);
  margin-bottom: 20px;
  text-align: left;
}
.video-description{
  font-size: 14px;
  color: rgb(96,96,96);
  width: 280px;
  line-height: 22px;
  margin-bottom: 100px;
  text-align: left;
}
.shop{
  font-size: 14px;
  color: white;
  text-align: center;
  background-color: rgb(227, 65, 64);
  margin-bottom: 50px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.shop-link{
  cursor: pointer;
}
.shop-link:hover {
  text-decoration: underline;
}